@import "vars";

.content {
    a:hover {
        text-decoration: underline;
    }
    ol {
        counter-reset: list;
    }
    ol > li {
        list-style-position: none;
        position: relative;
        list-style: none;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    h a {
        color: #333333; // Replace 'your-color' with the desired color value
      }
    h a:hover {
        color: $accent; // Replace 'your-color' with the desired color value
      }
    ul > li {
        margin: 5px 0 5px 0;
    }
    ul {
        padding: 0 20px 0 20px;;
    }
    ol {
        padding: 0 30px 0 30px;
    }
    ol > li:before {
        content: "[" counter(list, decimal) "] ";
        counter-increment: list;
        position: absolute;
        left: -30px;
    }
    blockquote {
        //border: 1px solid black;
        border-left: 5px solid #333333;
        margin: 20px 0 20px 0;
        padding: 2px 8px 2px 8px;
        font-style: italic;
    }
    .static-picture{
        width: 100%;
        height: 100%;
        @media (max-width: $small-width) {
            img {
                margin-top: -5px;
            }
        }
    }
    .overlay-picture{
        position: absolute;
        z-index: 10; /* Ensures the overlay image is on top */ 
        @media (max-width: $small-width) {
            img {
                margin-top: -5px;
            }
        }   
    }
    .container img {
        height: $image-size;
        width: $image-size;
        float: right;
        border-radius: 50%;
        p & {
            padding: 0;
            margin: 0;
        }
        @media (max-width: $small-width) {
            img {
                margin-top: -5px;
            }
        }   
    }
     
    .container {
        position: relative;
        height: auto;
        width: $image-size;
        margin: 10px 0 0 15px;
        float: right;
    }
    .overlay {
        height: $image-size;
        width: $image-size;
        position: absolute;
        transition: 1s ease;
        opacity: 0;
        background-color: #9bcd9b;
        @media (max-width: $small-width) {
            img {
                margin-top: -5px;
            }
        }   
    }
    
    .container:hover .overlay {
        opacity: 1;
    }
    .profile-picture {
        height: $image-size;
        width: $image-size;
        position: relative;
        margin: -10px 0 0 15px;
        float: right;
        border-radius: 50%;
        p & {
            padding: 0;
            margin: 0;
        }
        @media (max-width: $small-width) {
            img {
                margin-top: -5px;
            }
        }   

    }
    img {
        text-align: center;
        width: 100%;
    }
    
}
